.App {
  text-align: center;
}

path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

text {
  font: 10px sans-serif;
}

.horizon {
  stroke: black;
  stroke-width: 0;
}

.graticule {
  stroke: #000;
  stroke-opacity: 0.15;
}

.ticks line {
  stroke: #000;
}

.ticks text {
  text-anchor: middle;
}

.ticks-azimuth text:nth-of-type(9n + 1) {
  font-weight: bold;
  font-size: 14px;
}

.star-label {
  text-anchor: right;
}

circle {
  fill: black;
}

.highlight {
  stroke: black;
  stroke-width: 1.5;
  fill: #ffc107;
}

rect {
  stroke: black;
  stroke-width: 1.5;
  fill: #ffc107;
}

.subind {
  font-size: 6px;
  baseline-shift: sub;
}

.title {
  font-weight: bold;
}
